google-generativeai
httpx
aiohttp
asyncio
limits
openai
pandas==2.2.2
pydantic==2.9.2
pydeck
pytest==8.3.3
python-dotenv==1.0.1
slowapi
streamlit==1.40.0
pickle
matplotlib
numpy
# accelerate
# torch --index-url https://download.pytorch.org/whl/cu118
# torchaudio
# torchvision
# transformers